@layer parishconnect {
	.parishconnect-root {
		--foreground-color: #000;
		--background-color: #fff;
		--secondary-background-color: #f8f9fa;
		--tertiary-background-color: #e9ecef;
		--primary-color: #007bff;
		--error-color: #dc3545;
		--border-color: #ccc;

		--input-height: 20px;

		@media (prefers-color-scheme: dark) {
			--foreground-color: #fff;
			--background-color: #121212;
			--secondary-background-color: #1e1e1e;
			--tertiary-background-color: #2c2c2c;
			--border-color: #333;
			--primary-color: #0d6efd;
			--error-color: #ff6b6b;
		}

		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
			"Open Sans", "Helvetica Neue", sans-serif;
		box-sizing: border-box;
		background-color: var(--background-color);
		color: var(--foreground-color);

		.dialog {
			display: flex;
			border-radius: 10px;
			border: 1px solid var(--border-color);
			overflow: hidden;
			background-color: var(--background-color);
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		}

		/* MARK: CALENDAR */
		.calendar {
			padding: 10px;
			width: 240px;
			height: 270px;

			header {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 10px;

				button {
					background-color: transparent;
					border: none;
					border-radius: 5px;

					&:hover {
						background-color: hsl(from var(--foreground-color) h s l / 0.1);
					}
				}

				.heading {
					font-size: 1rem;
					font-weight: 600;
				}
			}

			.calendar-grid {
				width: 100%;

				.calendar-cell {
					display: flex;
					justify-content: center;
					align-items: center;
					aspect-ratio: 1;
					cursor: default;
					border-radius: 3px;

					&:hover {
						background-color: hsl(from var(--foreground-color) h s l / 0.1);
					}

					&:active {
						background-color: hsl(from var(--foreground-color) h s l / 0.2);
					}

					&[data-selected="true"] {
						background-color: var(--primary-color);
					}

					&[data-outside-month="true"] {
						opacity: 0.5;
					}
				}
			}
		}

		* {
			user-select: none;
			text-box-trim: trim-both;
		}

		legend,
		label,
		span,
		button,
		.label {
			color: var(--foreground-color);
			font-size: 0.825rem;
		}

		form,
		fieldset {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		fieldset {
			border: none;
			border-radius: 5px;
			background-color: var(--secondary-background-color);
			padding: 10px;
			margin: 0;

			legend {
				width: fit-content;
				padding: 5px 10px;
				border-radius: 5px;
				background-color: var(--secondary-background-color);
			}
		}

		button {
			all: unset;
			padding: 5px 10px;
			border-radius: 5px;
			background-color: var(--primary-color);
			font-size: 0.825rem;
			display: inline-flex;
			width: fit-content;
			color: #fff;
			text-align: center;
			transition: background-color 0.3s ease;

			&:hover {
				background-color: color-mix(in srgb, var(--primary-color) 80%, var(--background-color) 20%);
			}

			&:disabled {
				background-color: var(--border-color);
				cursor: not-allowed;
			}
		}

		/* MARK: TEXT FIELD */
		.text-field {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}

		input::placeholder {
			color: hsl(from var(--foreground-color) h s l / 0.5);
		}

		.input,
		.date-input {
			border: 1px solid hsl(from var(--foreground-color) h s l / 0.1);
			border-radius: 5px;
			background-color: hsl(from var(--foreground-color) h s l / 0.05);
			padding: 5px 10px;
			height: var(--input-height);
		}

		/* MARK: GROUP */
		.xstack {
			display: flex;
			flex-direction: row;
			gap: 20px;
			align-items: center;
		}

		/* MARK: RADIO GROUP */
		.radio-group-field {
			display: flex;
			flex-direction: column;
			gap: 5px;

			.group {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}

			&[aria-orientation="horizontal"] {
				.group {
					display: flex;
					width: fit-content;
					gap: 2px;
					flex-direction: row;
					background-color: var(--tertiary-background-color);
					border-radius: 9999px;

					.radio {
						padding: 7.5px 15px;
						border-radius: 9999px;
						background-color: transparent;
						font-size: 0.65rem;
						text-transform: uppercase;

						&:active {
							background-color: hsl(from var(--foreground-color) h s l / 0.1);
						}

						&[data-selected="true"] {
							background-color: var(--foreground-color);
							color: var(--background-color);
						}
					}
				}
			}
		}

		/* MARK: TIME FIELD */
		.time-field {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}

		/* MARK: DATE PICKER */
		.date-picker {
			display: flex;
			flex-direction: column;
			gap: 5px;

			.group {
				display: flex;
			}

			.date-input {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			button {
				background-color: var(--foreground-color);
				color: var(--background-color);
				height: calc(var(--input-height) + 10px + 2px);
				aspect-ratio: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;

				&[data-pressed] {
					opacity: 0.8;
				}

				svg {
					height: calc(var(--input-height) - 5px);
					aspect-ratio: 1;
				}
			}
		}

		.mass-schedule-entry {
			border: 1px solid var(--border-color);
			border-radius: 5px;
			padding: 10px;
			background-color: var(--tertiary-background-color);
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		/* MARK: WEEKDAY PICKER */
		.day-picker {
			display: flex;
			flex-direction: column;
			gap: 5px;

			.group {
				display: flex;
				flex-direction: row;
				gap: 2.5px;
			}

			.checkbox {
				border-radius: 999px;
				width: 20px;
				padding: 5px;
				aspect-ratio: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: transparent;
				font-size: 0.65rem;
				font-weight: 500;

				&:hover,
				&:focus-visible,
				&[data-focus-visible="true"] {
					background-color: hsl(from var(--foreground-color) h s l / 0.1);
				}

				&[data-selected="true"] {
					background-color: var(--primary-color);
					color: var(--foreground-color);
				}
			}
		}
	}

	.parishconnect-form-container {
		position: fixed;
		top: 50%;
		left: 50%;
		width: clamp(300px, 100vw - 20px, 900px);
		max-height: calc(100vh - 20px);
		overflow-y: auto;
		transform: translate(-50%, -50%);
		z-index: 1000;
		padding: 20px;
		border: 1px solid var(--border-color);
		border-radius: 10px;
		background-color: var(--background-color);
		color: var(--foreground-color);
	}
}
