.parishconnect-form-container {
	--foreground-color: #000;
	--background-color: #fff;
	--secondary-background-color: #f8f9fa;
	--tertiary-background-color: #e9ecef;
	--primary-color: #007bff;
	--error-color: #dc3545;
	--border-color: #ccc;

	@media (prefers-color-scheme: dark) {
		--foreground-color: #fff;
		--background-color: #121212;
		--secondary-background-color: #1e1e1e;
		--tertiary-background-color: #2c2c2c;
		--border-color: #333;
		--primary-color: #0d6efd;
		--error-color: #ff6b6b;
	}

	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	user-select: none;
	box-sizing: border-box;
	position: fixed;
	top: 50%;
	left: 50%;
	width: clamp(300px, 100vw - 20px, 900px);
	max-height: calc(100vh - 20px);
	overflow-y: auto;
	transform: translate(-50%, -50%);
	z-index: 1000;
	padding: 20px;
	border: 1px solid var(--border-color);
	border-radius: 10px;
	background-color: var(--background-color);
	color: var(--foreground-color);

	* {
		user-select: none;
		text-box-trim: trim-both;
	}

	legend,
	label,
	span,
	button {
		font-size: 0.825rem;
	}

	form,
	fieldset {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	fieldset {
		border: none;
		border-radius: 5px;
		background-color: var(--secondary-background-color);
		padding: 10px;
		margin: 0;

		legend {
			width: fit-content;
			padding: 5px 10px;
			border-radius: 5px;
			background-color: var(--secondary-background-color);
		}
	}

	button {
		all: unset;
		padding: 5px 10px;
		border-radius: 5px;
		background-color: var(--primary-color);
		font-size: 0.825rem;
		display: inline-flex;
		width: fit-content;
		color: #fff;
		text-align: center;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: color-mix(in srgb, var(--primary-color) 80%, var(--background-color) 20%);
		}

		&:disabled {
			background-color: var(--border-color);
			cursor: not-allowed;
		}
	}

	/* MARK: TEXT FIELD */
	.react-aria-TextField {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.react-aria-Input {
		padding: 5px 10px;
	}

	/* MARK: RADIO GROUP */
	.react-aria-RadioGroup {
		display: flex;
		flex-direction: column;
		gap: 5px;

		.react-aria-Group {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		&[aria-orientation="horizontal"] {
			.react-aria-Group {
				display: flex;
				width: fit-content;
				gap: 2px;
				flex-direction: row;
				background-color: var(--tertiary-background-color);
				border-radius: 9999px;

				.react-aria-Radio {
					padding: 7.5px 15px;
					border-radius: 9999px;
					background-color: transparent;
					font-size: 0.65rem;
					text-transform: uppercase;

					&:active {
						background-color: hsl(from var(--foreground-color) h s l / 0.1);
					}

					&[data-selected="true"] {
						background-color: var(--foreground-color);
						color: var(--background-color);
					}
				}
			}
		}
	}
}
