:host {
	font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;

	.container {
		border: 1px solid #ccc;
		border-radius: 8px;
		padding: 16px;
		display: flex;
		flex-direction: column;
		gap: 12px;

		.container-title {
			margin: 0;
		}

		form {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
	}
}
